<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lista de Usuários<h2>
        <table border="1">
          <thead>
            <tr>
              <td>Nome</td>
              <td>Email</td>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(data) { %>
              <tr>
                <td><%= data.name %></td>
                <td><%= data.email %></td>
                <td>
                  <a href="/edit/<%= data._id%>">Edit</a> | 
                  <a href="/delete/<%= data._id %>">Delete</a>
                </td>
              </tr>
           <% }) %>
         </tbody>
         <button><a href="/">Voltar</a></button>
</body>
</html>