<!DOCTYPE <html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TESTE</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    <div class="container conwel">
        <h1 class="txtinicial">Sistema de aviso de ocorrências de interrupção <br>
            de tráfego em rodovias (SAOITR)</h1><br>
        <!-- <div class="row botoes"> -->
            <button class="btn btw">Cadastro</button>
            <button class="btn btw">Login</button>
        <!-- </div>    -->
    </div>
</body>
</html>